In [1]:
import pandas as pd

In [2]:
food_data1 = pd.read_csv('food data.csv', encoding='latin-1')

In [17]:
food_data1

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [42]:
food_data1.groupby('Item')['Y2014','Y2016'].sum()

<ipython-input-42-e45304dbb5c9>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data1.groupby('Item')['Y2014','Y2016'].sum()

                         Y2014      Y2016
Item
Alcohol, Non-Food      2403.00    2223.00
Alcoholic Beverages  102410.11   96958.75
Animal Products       11935.65   11661.69
Animal fats          209460.54  183314.22
Apples and products    9499.23    9853.26
...                        ...        ...
Vegetables, Other    155038.96  156218.90
Vegetal Products     107145.19  106792.72
Wheat and products   232670.13  239377.07
Wine                   4497.36    3872.09
Yams                 200396.96  220626.20

[119 rows x 2 columns]

In [24]:
food_data1['Y2015'].mean()

135.23596649549236

In [25]:
food_data1['Y2015'].std()

1603.4039839423301

In [27]:
food_data1['Y2016'].isnull().sum()

1535

In [32]:
food_data1['Y2016'].isnull().sum()/food_data1['Y2016'].sum()

0.0001892148135624223

In [33]:
food_data1.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [43]:
food_data1.groupby('Element')['Y2014','Y2016','Y2015','Y2017','Y2018'].sum()

<ipython-input-43-32e844b03ceb>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  food_data1.groupby('Element')['Y2014','Y2016','Y2015','Y2017','Y2018'].sum()

,Y2014,Y2016,Y2015,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2044842.70,2021493.55,2088198.10,2161192.10
Export Quantity,150020.64,151920.46,157614.47,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10102.77,10235.74,10253.84,10258.69
Feed,216927.89,228958.65,225050.22,223705.68,233489.68
Food,1212332.49,1247022.17,1232361.10,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,451810.00,453383.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,48985.28,49345.13,48690.04,49056.85
Import Quantity,274144.48,286582.78,267018.46,294559.09,287997.09
Losses,153223.00,157787.00,155439.00,160614.00,163902.00
Other uses (non-food),78718.13,69563.68,66254.41,91645.97,91300.97
Processing,282923.00,280631.00,287929.00,292836.00,308429.00
Production,1931287.75,1943537.15,1947019.39,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11779.69,11833.95,11842.45,11833.56
Residuals,30149.00,37224.00,30045.00,35500.00,34864.00
Seed,21922.92,23389.20,23976.82,24870.14,25263.14
Stock Variation,58749.83,33140.12,34910.99,54316.91,20577.91
Total Population - Both sexes,1031585.00,1085107.00,1058081.00,1112641.00,1140605.00
Tourist consumption,416.00,89.00,349.00,91.00,90.00

In [45]:
food_data1.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [46]:
food_data1.groupby('Element')['Y2018'].sum()

Element
Domestic supply quantity                  2161192.10
Export Quantity                            181594.80
Fat supply quantity (g/capita/day)          10258.69
Feed                                       233489.68
Food                                      1303841.28
Food supply (kcal/capita/day)              455261.00
Food supply quantity (kg/capita/yr)         49056.85
Import Quantity                            287997.09
Losses                                     163902.00
Other uses (non-food)                       91300.97
Processing                                 308429.00
Production                                2075072.89
Protein supply quantity (g/capita/day)      11833.56
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Total Population - Both sexes             1140605.00
Tourist consumption                            90.00
Name: Y2018, dtype: float64

In [101]:
from IPython.core.interactiveshell import InteractiveShell

In [102]:
InteractiveShell.ast_node_interactivity = 'all'

In [134]:

food_data1[(food_data1['Element']== 'Import Quantity') & (food_data1['Area'] =='Algeria')].sum()

Area Code                                                     448
Area            AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                                  301030
Item            Cereals - Excluding BeerWheat and productsRice...
Element Code                                               628432
Element         Import QuantityImport QuantityImport QuantityI...
Unit            1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                     34940.1
Y2015                                                     37841.9
Y2016                                                     36736.1
Y2017                                                     36059.3
Y2018                                                     36238.3
dtype: object

In [90]:
food_data1['Area'].describe()

count     60943
unique       49
top       Kenya
freq       1560
Name: Area, dtype: object